/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    header ul{
        margin-top: 20px;
    }
    header ul li.nav-item{
        padding: 0 10px;
    }
    header ul li.nav-item:last-child{
        margin-left: 0px;
        margin-top: 25px;
        text-align: center;
    }
    .banner{
        padding: 35px 0 50px;
    }
    .banner h1{
        font-size: 35px;
        word-spacing: 3px;
    }
    .banner .banner_para{
        margin: 30px 0;
        word-spacing: 0px;
        line-height: 20px;
    }
    .banner .custom_btn{
        font-size: 14px;
        border-radius: 30px;
        padding: 8px 25px;
    }
    .banner .banner_img{
        margin-bottom: 60px;
    }
    .books{
        padding: 80px 0 40px;
    }
    .books .books_contents{
        margin-bottom: 40px;
    }
    .courses{
        margin-top: 20px;
        padding: 0px 0 !important;
    }
    .courses .courses_info{
        display: block !important;
    }
    .testimonial .testimonial_img{
        margin-bottom: 40px;
    }
}

 /*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    header ul{
        margin-top: 20px;
    }
    header ul li.nav-item{
        padding: 0 10px;
    }
    header ul li.nav-item:last-child{
        margin-left: 0px;
        margin-top: 25px;
        text-align: center;
    }
    .banner{
        padding: 35px 0 50px;
    }
    .banner h1{
        font-size: 50px;
        word-spacing: 3px;
    }
    .banner .banner_para{
        margin: 30px 0;
        word-spacing: 0px;
        line-height: 20px;
    }
    .banner .custom_btn{
        font-size: 14px;
        border-radius: 30px;
        padding: 8px 25px;
    }
    .banner .banner_img{
        margin-bottom: 60px;
    }
    .books{
        padding: 90px 0 40px;
    }
    .books .books_contents{
        margin-bottom: 45px;
    }
    .courses{
        margin-top: 20px;
        padding: 0px 0 !important;
    }
    .courses .courses_info{
        display: block !important;
    }
    .testimonial .testimonial_img{
        margin-bottom: 40px;
    }
}

 /*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    header ul{
        margin-top: 20px;
    }
    header ul li.nav-item{
        padding: 0 10px;
    }
    header ul li.nav-item:last-child{
        margin-left: 0px;
        margin-top: 25px;
        text-align: center;
    }
    .banner{
        padding: 45px 0 70px;
    }
    .banner h1{
        font-size: 30px;
        word-spacing: 5px;
    }
    .banner .banner_para{
        margin: 30px 0;
        word-spacing: 0px;
        line-height: 20px;
    }
    .banner .custom_btn{
        font-size: 14px;
        background-color: #21B573;
        border-radius: 30px;
        padding: 8px 25px;
    }.books{
        padding: 80px;
        padding-bottom: 0px;
    }
    .books .books_contents{
        margin-bottom: 55px;
    }
    .books h3{
        font-size: 18px;
        margin-top: 30px;
    }
    .courses{
        margin-top: 40px;
        padding: 0px 0 !important;
    }
    .courses .courses_info{
        display: block !important;
    }
}

 /*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	header ul li.nav-item{
        padding: 0 15px;
    }
    .banner{
        padding: 55px 0 60px;
    }
    .banner h1{
        font-size: 40px;
        word-spacing: 5px;
    }
    .banner .banner_para{
        margin: 30px 0;
        word-spacing: 3px;
        line-height: 25px;
    }
    .books .books_contents{
        margin-bottom: 65px;
    }
    .courses{
        margin-top: -40px;
        padding: 0px 0 !important;
    }
    .courses .courses_info{
        display: block !important;
    }
}

 /*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}